
body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.left-container {
    border-right: 1px solid #000;
    background-color: #f1f0f0;
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 0;
}

.top-container img{
    display: flex;
    margin-right: 10px;
}


.center-container {
    display: flex;
    align-items: center;
    padding-bottom: 60px;
    position: relative;
}

.center-container::before {
    content: "";
    width: 2px;
    height: 455px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    z-index: -1;
    left: 72px;
}

.center-container a{
   font-size: .9rem;
   padding: 34px 20px;
   transition:  0.5s ease-in-out;
   background: #fff;
   font-weight: 650;
   border-radius: 50%;;
   border: 1px solid #000;
   text-decoration: none;
   color: rgb(0, 0, 0);
   cursor: pointer;
   position: relative;
}

.center-container a:hover{
   background-color: #000;
    color: #fff;
    transform: scale(1.2);
    transition:  1s ease-in-out;
}

.bottom-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-container h3{
    font-size: .8rem;
    margin-bottom: 10px;
}